{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic" // 👈 this is important
      }
    ],
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        },
        "bugfixes": true,
        "modules": false
      }
    ]
  ],

  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "runtime": "automatic" // defaults to classic
      }
    ],

    [
      "babel-plugin-root-import",
      {
        "paths": [
          {
            "rootPathSuffix": "./src",
            "rootPathPrefix": "~/"
          },
          {
            "rootPathSuffix": "./src/components",
            "rootPathPrefix": "~components/"
          },
          {
            "rootPathSuffix": "./src/recoils",
            "rootPathPrefix": "~recoils/"
          },
          {
            "rootPathSuffix": "./src/functions",
            "rootPathPrefix": "~functions/"
          },
          {
            "rootPathSuffix": "./src/hooks",
            "rootPathPrefix": "~hooks/"
          },
          {
            "rootPathSuffix": "./src/styles",
            "rootPathPrefix": "~styles/"
          },
          {
            "rootPathSuffix": "./src/images",
            "rootPathPrefix": "~images/"
          }
        ]
      }
    ]
  ]
}
