$footer: #565656;
$white: #ffffff;
$primary: #0055b8;
$skyblue: #e6f7ff;
$blue: #1890ff;
$colorbox_operation: #c2eea0;
$colorbox_operationBar: #99d77f;
$colorbox_downtime: #ffb1ad;
$colorbox_downtimeBar: #ff6f27;
$colorbox_stop: #dfdfdf;
$colorbox_stopBar: #919191;
$button_excel: #035a37;
$button_add: #3d8b7d;
$button_cancel: #f38837;
$button_save: #167fac;
$button_delete: #e25b45;
$datepicker_border: #e3e3e3;
$graphGrid_border: #f0f0f0;
$gridCard_downtime: #ffb1ad80;
$progress_bar: #3378ec;
$nivo_dots: #38bcb2;
$nivo_lines: #eed312;
$statistic_plan: #40a9ff;
$maipData_lastYear: #f4c2be;
$maipData_thisYear: #e0483e;
$salesData_lastYear: #b2d6e7;
$salesData_thisYear: #1a85b9;

$nivoPie: #788ee0;
$nivoPie2: #26a69a;
$nivoPie3: #4caf50;
$nivoPie4: #7cb342;
$nivoPie5: #6ccc3c;
$nivoPie6: #dedede;
$nivoPie7: #f75e67;
$nivoPie8: #b30000;
$nivoPie9: #d7301f;
$nivoPie10: #ef6548;
$nivoPie11: #fc8d59;
$nivoPie12: #fdd49e;
$nivoPie13: #fff7ec;
$nivoPie14: #fee8c8;
$nivoPie15: #fdbb84;

$bar: #3c608b;
$bar2: #e0483e;
$bar3: #f1a838;
$bar4: #1a85b9;
$bar5: #01737c;

$tpPie: #dedede;
$pie2: #f75e67;
$pie3: #6ccc3c;
$pie4: #e1e0a5;
$pie5: #4cacde;
$pie6: #ace6aa;
$pie7: #cde0bd;
$pie8: #4cdbd3;
$pie9: #edce9c;
