$footer: #565656;
$white: #FFFFFF;
$primary: #0055b8;
$skyblue: #e6f7ff;
$blue: #1890ff;
$colorbox_operation: #C2EEA0;
$colorbox_operationBar: #99D77F;
$colorbox_downtime: #FFB1AD;
$colorbox_downtimeBar: #FF6F27;
$colorbox_stop: #DFDFDF;
$colorbox_stopBar: #919191;
$button_excel: #035A37;
$button_add: #3D8B7D;
$button_cancel: #F38837;
$button_save: #167FAC;
$button_delete: #E25B45;
$datepicker_border: #e3e3e3;
$graphGrid_border: #F0F0F0;
$gridCard_downtime: #FFB1AD80;
$progress_bar: #3378EC;
$nivo_dots: #38bcb2;
$nivo_lines: #eed312;
$statistic_plan: #40A9FF;
$maipData_lastYear: #F4C2BE;
$maipData_thisYear: #E0483E;
$salesData_lastYear: #B2D6E7;
$salesData_thisYear: #1A85B9;

$nivoPie: #788EE0;
$nivoPie2: #26A69A;
$nivoPie3: #4CAF50;
$nivoPie4: #7CB342;
$nivoPie5: #6CCC3C;
$nivoPie6: #DEDEDE;
$nivoPie7: #F75E67;
$nivoPie8: #B30000;
$nivoPie9: #D7301F;
$nivoPie10: #EF6548;
$nivoPie11: #FC8D59;
$nivoPie12: #FDD49E;
$nivoPie13: #FFF7EC;
$nivoPie14: #FEE8C8;
$nivoPie15: #FDBB84;


$bar: #3C608B;
$bar2: #E0483E;
$bar3: #F1A838;
$bar4: #1A85B9;
$bar5: #01737C;


$tpPie: #DEDEDE;
$pie2: #F75E67;
$pie3: #6CCC3C;
$pie4: #E1E0A5;
$pie5: #4CACDE;
$pie6: #ACE6AA;
$pie7: #CDE0BD;
$pie8: #4CDBD3;
$pie9: #EDCE9C;