@import 'color.style';

:export {
  fg_fontColor_default: $fg_fontColor_default;
  bg_colorbox_operation: $bg_colorbox_operation;
  bg_colorbox_operationBar: $bg_colorbox_operationBar;
  bg_colorbox_downtime: $bg_colorbox_downtime;
  bg_colorbox_downtimeBar: $bg_colorbox_downtimeBar;
  bg_colorbox_stop: $bg_colorbox_stop;
  bg_colorbox_stopBar: $bg_colorbox_stopBar;
  fg_statistic_plan: $fg_statistic_plan;
  fg_statistic_amount: $fg_statistic_amount;
  fg_statistic_achievement: $fg_statistic_achievement;
  bg_maipData_lastYear: $palettes_maipLast;
  bg_maipData_thisYear: $bg_maipData_thisYear;
  bg_salesData_lastYear: $bg_salesData_lastYear;
  bg_salesData_thisYear: $bg_salesData_thisYear;
  bg_nivo_dots: $bg_nivo_dots;
  bg_nivo_lines: $bg_nivo_lines;
  bg_footer_default: $bg_footer_default;
  fg_footer_copyRight: $fg_footer_copyRight;
  bg_gridTitle_default: $bg_gridTitle_default;
  bg_gridLayer_border: $bg_gridLayer_border;
  fg_tab_default: $fg_tab_default;
  bg_tabClick_border: $bg_tabClick_border;
  fg_headerText_hover: $fg_headerText_hover;

  fg_header_title: $fg_header_title;
  fg_headerDetail_title: $fg_headerDetail_title;
  bg_headerContainer_default: $bg_headerContainer_default;
  bg_headerContainer_border: $bg_headerContainer_border;
  fg_menu_default: $fg_menu_default;
  bg_menuButton_default: $bg_menuButton_default;
  bg_menu_border: $bg_menu_border;
  fg_level2Menu_active: $fg_level2Menu_active;
  bg_menuButton_border: $bg_menuButton_border;
  bg_level1Menu_default: $bg_level1Menu_default;
  bg_menuLevel1_default: $bg_menuLevel1_default;
  bg_menuLevel2_default: $bg_menuLevel2_default;
  bg_menuLevel2_selected: $bg_menuLevel2_selected;
  fg_menuLevel2_selected: $fg_menuLevel2_selected;
  bg_menuLevel2_selectedBar: $bg_menuLevel2_selectedBar;
  bg_buttonHover_default: $bg_buttonHover_default;
  bg_buttonHover_hover: $bg_buttonHover_hover;
  bg_button_search: $bg_button_search;
  bg_button_excel: $bg_button_excel;
  bg_button_add: $bg_button_add;
  bg_button_cancel: $bg_button_cancel;
  bg_button_save: $bg_button_save;
  bg_button_delete: $bg_button_delete;
  fg_button_default: $fg_button_default;
  fg_submitButton_default: $fg_submitButton_default;
  bg_submitButton_default: $bg_submitButton_default;
  bg_chkeckBox_border: $bg_chkeckBox_border;
  bg_chkeckBox_selectedInner: $bg_chkeckBox_selectedInner;
  bg_comboBox_selectedInner: $bg_comboBox_selectedInner;
  bg_comboBox_border: $bg_comboBox_border;
  bg_container_default: $bg_container_default;
  bg_container_border: $bg_container_border;
  bg_datepicker_border: $bg_datepicker_border;
  bg_datepicker_selection: $bg_datepicker_selection;
  fg_datepicker_selection: $fg_datepicker_selection;
  bg_radio_checkedBorder: $bg_radio_checkedBorder;
  bg_radio_checkedInner: $bg_radio_checkedInner;
  bg_radio_border: $bg_radio_border;
  bg_input_wrapper: $bg_input_wrapper;
  bg_input_active: $bg_input_active;
  bg_inputPassword_wrapper: $bg_inputPassword_wrapper;
  bg_inputPassword_active: $bg_inputPassword_active;
  bg_inputNumber_wrapper: $bg_inputNumber_wrapper;
  bg_inputNumber_active: $bg_inputNumber_active;
  bg_graph_default: $bg_graph_default;
  bg_graphGrid_border: $bg_graphGrid_border;
  fg_gridCard_default: $fg_gridCard_default;
  bg_gridCard_downtime: $bg_gridCard_downtime;
  bg_gridCard_default: $bg_gridCard_default;
  bg_card_boxShadow: $bg_card_boxShadow;
  bg_progress_bar: $bg_progress_bar;
  bg_nivoPie_01: $bg_nivoPie_01;
  bg_nivoPie_02: $bg_nivoPie_02;
  bg_nivoPie_03: $bg_nivoPie_03;
  bg_nivoPie_04: $bg_nivoPie_04;
  bg_nivoPie_05: $bg_nivoPie_05;
  bg_nivoPie_06: $bg_nivoPie_06;
  bg_nivoPie_07: $bg_nivoPie_07;
  bg_nivoPie_08: $bg_nivoPie_08;
  bg_nivoPie_09: $bg_nivoPie_09;
  bg_nivoPie_10: $bg_nivoPie_10;
  bg_nivoPie_11: $bg_nivoPie_11;
  bg_nivoPie_12: $bg_nivoPie_12;
  bg_nivoPie_13: $bg_nivoPie_13;
  bg_nivoPie_14: $bg_nivoPie_14;
  bg_nivoPie_15: $bg_nivoPie_15;
  bg_bar_01: $bg_bar_01;
  bg_bar_02: $bg_bar_02;
  bg_bar_03: $bg_bar_03;
  bg_bar_04: $bg_bar_04;
  bg_bar_05: $bg_bar_05;
  bg_pie_01: $bg_pie_01;
  bg_pie_02: $bg_pie_02;
  bg_pie_03: $bg_pie_03;
  bg_pie_04: $bg_pie_04;
  bg_pie_05: $bg_pie_05;
  bg_pie_06: $bg_pie_06;
  bg_pie_07: $bg_pie_07;
  bg_pie_08: $bg_pie_08;
  bg_pie_09: $bg_pie_09;
  bg_gridCell_border: $bg_gridCell_border;
  bg_gridHeader_default: $bg_gridHeader_default;
  bg_gridHeader_border: $bg_gridHeader_border;
  bg_gridRowHeader_default: $bg_gridRowHeader_default;
  bg_gridRowHeader_border: $bg_gridRowHeader_border;
  bg_evenRow_default: $bg_evenRow_default;
  bg_grid_selectedHeader: $bg_grid_selectedHeader;
  bg_danger_default: $bg_danger_default;
  bg_gridHeader_area: $bg_gridHeader_area;
  bg_gridLayer_selection: $bg_gridLayer_selection;
  bg_comboBoxContent_editor: $bg_comboBoxContent_editor;
  bg_comboBoxSelector_border: $bg_comboBoxSelector_border;
  fg_comboBoxSelector_default: $fg_comboBoxSelector_default;
  bg_comboBox_default: $bg_comboBox_default;
  bg_gridRow_odd: $bg_gridRow_odd;
  bg_gridRow_even: $bg_gridRow_even;
  bg_gridSelectRow_odd: $bg_gridSelectRow_odd;
  bg_gridSelectRow_even: $bg_gridSelectRow_even;
  bg_gridRow_checkbox: $bg_gridRow_checkbox;
  bg_twoGridCol_default: $bg_twoGridCol_default;
  bg_scrollbar_bar: $bg_scrollbar_bar;
  bg_scrollbar_area: $bg_scrollbar_area;
  bg_numberInput_border: $bg_numberInput_border;
  bg_numberInputFocus_border: $bg_numberInputFocus_border;
  bg_comboboxFocus_border: $bg_comboboxFocus_border;
  bg_datepickerFocus_border: $bg_datepickerFocus_border;
  bg_gridRow_checked: $bg_gridRow_checked;
  bg_background: $bg_background;
}
