/* #region 🔴color palette */
$palettes_footer: #565656;
$palettes_white: #ffffff;
$palettes_fontColor: #333333;
$palettes_titleColor: #707070;
$palettes_loginFooter: #929292;
$palettes_menuButton: #9faabd;
$palettes_menuActive: #637bff;
$palettes_darkgray: #57626f;
$palettes_loginLabel: #393941;
$palettes_gridFontColor: #000000;
$palettes_submitButton: #1c263d;
// $palettes_primary: #0055b8;
// $palettes_primary: #1A212B;
// $palettes_primary: #1F2633;
// $palettes_primary: #2F343D;
$palettes_primary: #383d44;
$palettes_skyblue: #e6f7ff;
$palettes_blue: #1890ff;
$palettes_lightgreen: #c2eea0;
$palettes_green: #99d77f;
$palettes_lightRed: #ffb1ad;
$palettes_orange: #ff6f27;
$palettes_lightgray: #dfdfdf;
$palettes_gray: #919191;
$palettes_excelBtn: #035a37;
$palettes_addBtn: #3d8b7d;
$palettes_cancelBtn: #f38837;
$palettes_saveBtn: #167fac;
$palettes_deleteBtn: #ed7425;
$palettes_border: #e3e3e3;
$palettes_graphGrid: #f0f0f0;
$Palettes_downtime: #ffb1ad80;
$palettes_progressBar: #3378ec;
$palettes_dots: #38bcb2;
$palettes_lines: #eed312;
$palettes_statistic: #40a9ff;
$palettes_mapLast: #f4c2be;
$palettes_mapThis: #e0483e;
$palettes_salesLast: #b2d6e7;
$palettes_salesThis: #1a85b9;
$palettes_hoverBtn: #3ca0fe;
$palettes_gridHeader: #eeeeee;
$palettes_gridLayer: #00a9ff;
$palettes_gridRow: #c8dff7;
$palettes_comboBoxContent: #fcfdff;
$palettes_comboBoxSelector: #9ea4aa;
$palettes_comboBox: #f8f8f8;
$palettes_gridCellBorder: #cccccc;
$palettes_scrollbar: #c1c1c1;
$palettes_scrollbar_area: #f1f1f1;
$palettes_buttonHover: rgba(60, 160, 254, 0.1);
$palettes_cardShadow: #00000010;
$palettes_evenRow: rgba(238, 238, 238, 0.3);
$palettes_selectedHeader: rgba(213, 235, 254, 0.5);
$palettes_gridRowOdd: rgba(204, 204, 204, 0.5);
$palettes_gridRowEven: rgba(204, 204, 204, 0.65);

$palettes_selectRowOdd: rgba(230, 230, 250, 0.5);
$palettes_selectRowEven: rgba(230, 230, 250, 0.8);

$palettes_level1Menu: rgba(250, 250, 250, 0.25);
$palettes_gridCheckbox: #d4eafe;
$palettes_nivoPie01: #788ee0;
$palettes_nivoPie02: #26a69a;
$palettes_nivoPie03: #4caf50;
$palettes_nivoPie04: #7cb342;
$palettes_nivoPie05: #6ccc3c;
$palettes_nivoPie06: #dedede;
$palettes_nivoPie07: #f75e67;
$palettes_nivoPie08: #b30000;
$palettes_nivoPie09: #d7301f;
$palettes_nivoPie10: #ef6548;
$palettes_nivoPie11: #fc8d59;
$palettes_nivoPie12: #fdd49e;
$palettes_nivoPie13: #fff7ec;
$palettes_nivoPie14: #fee8c8;
$palettes_nivoPie15: #fdbb84;
$palettes_bar01: #3c608b;
$palettes_bar02: #e0483e;
$palettes_bar03: #f1a838;
$palettes_bar04: #1a85b9;
$palettes_bar05: #01737c;
$palettes_Pie01: #dedede;
$palettes_pie02: #f75e67;
$palettes_pie03: #6ccc3c;
$palettes_pie04: #e1e0a5;
$palettes_pie05: #4cacde;
$palettes_pie06: #ace6aa;
$palettes_pie07: #cde0bd;
$palettes_pie08: #4cdbd3;
$palettes_pie09: #edce9c;

$palettes_submit: #587bd2;
/* #endregion */

$fg_fontColor_default: $palettes_fontColor;

/* #region 🔶footer */
$bg_footer_default: $palettes_footer;
$fg_footer_copyRight: $palettes_white;
/* #endregion */

/* #region 🔶grid title */
$bg_gridTitle_default: $palettes_white;
/* #endregion */

$bg_gridLayer_border: $palettes_gridLayer;

// tab
$fg_tab_default: $palettes_gridCellBorder;
$bg_tabClick_border: $palettes_blue;

/* #region 🔶header */
$fg_headerText_hover: $palettes_primary;
$fg_header_title: $palettes_fontColor;
$fg_headerDetail_title: $palettes_titleColor;
$bg_headerContainer_default: $palettes_white;
$bg_headerContainer_border: $palettes_lightgray;
/* #endregion */

/* #region 🔶login */
$fg_loginFooter_default: $palettes_loginFooter;
$fg_loginLabel_default: $palettes_loginLabel;
$bg_loginInput_wrapper: $palettes_white;
/* #endregion */

/* #region 🔶left nav */
$fg_menu_default: $palettes_white;
$bg_menuButton_default: $palettes_white;
$bg_menu_border: $palettes_lightgray;
$fg_level2Menu_active: $palettes_menuActive;
$bg_menuButton_border: $palettes_menuButton;
$bg_menuButton_hover: $palettes_darkgray;
$bg_level1Menu_default: $palettes_level1Menu;
$bg_menuLevel1_default: $palettes_primary;
$bg_menuLevel2_default: $palettes_white;
$bg_menuLevel2_selected: $palettes_skyblue;
$fg_menuLevel2_selected: $palettes_blue;
$bg_menuLevel2_selectedBar: $palettes_blue;
$bg_colorBox_operation: $palettes_lightgreen;
$bg_colorBox_operationBar: $palettes_green;
$bg_colorBox_downtime: $palettes_lightRed;
$bg_colorBox_downtimeBar: $palettes_orange;
$bg_colorBox_stop: $palettes_lightgray;
$bg_colorBox_stopBar: $palettes_gray;
/* #endregion */

/* #region 🔶button */
$bg_buttonHover_default: $palettes_hoverBtn;
$bg_buttonHover_hover: $palettes_buttonHover;
$bg_button_search: $palettes_primary;
$bg_button_excel: $palettes_excelBtn;
$bg_button_add: $palettes_addBtn;
$bg_button_cancel: $palettes_cancelBtn;
$bg_button_save: $palettes_saveBtn;
$bg_button_delete: $palettes_deleteBtn;
$fg_button_default: $palettes_white;
$fg_submitButton_default: $palettes_white;
$bg_submitButton_default: $palettes_submit;
/* #endregion */

/* #region 🔶checkbox  */
$bg_checkBox_border: $palettes_primary;
$bg_checkBox_selectedInner: $palettes_primary;
/* #endregion */

/* #region 🔶comboBox  */
$bg_comboBox_border: $palettes_primary;
$bg_comboBox_selectedInner: $palettes_primary;
$bg_comboBoxFocus_border: $palettes_blue;
/* #endregion */

/* #region 🔶container  */
$bg_container_default: $palettes_white;
$bg_container_border: $palettes_white;
/* #endregion */

/* #region 🔶datePicker  */
$bg_datePicker_border: $palettes_border;
$bg_datePicker_selection: $palettes_primary;
$fg_datePicker_selection: $palettes_white;
$bg_datePickerFocus_border: $palettes_blue;
/* #endregion */

/* #region 🔶radio  */
$bg_radio_checkedBorder: $palettes_primary;
$bg_radio_checkedInner: $palettes_primary;
$bg_radio_border: $palettes_border;
/* #endregion */

/* #region 🔶textBox  */
$bg_input_wrapper: $palettes_primary;
$bg_input_active: $palettes_primary;
/* #endregion */

/* #region 🔶password */
$bg_inputPassword_wrapper: $palettes_primary;
$bg_inputPassword_active: $palettes_primary;
/* #endregion */

/* #region 🔶inputNumber (text type number) */
$bg_inputNumber_wrapper: $palettes_primary;
$bg_inputNumber_active: $palettes_primary;
/* #endregion */

/* #region 🔶graph */
$bg_graph_default: $palettes_white;
/* #endregion */

/* #region 🔶gridCol */
$bg_graphGrid_border: $palettes_graphGrid;
/* #endregion */

/* #region 🔶gridCard */
$fg_gridCard_default: $palettes_gridFontColor;
$bg_gridCard_downtime: $palettes_lightRed;
$bg_gridCard_default: $palettes_white;
$bg_card_boxShadow: $palettes_cardShadow;
/* #endregion */

/* #region 🔶axios */
$bg_progress_bar: $palettes_progressBar;
/* #endregion */

/* #region 🔶AtNivo */
$bg_nivo_dots: $palettes_dots;
$bg_nivo_lines: $palettes_lines;
/* #endregion */

/* #region 🔶dashboard */
$fg_statistic_plan: $palettes_statistic;
$fg_statistic_amount: $palettes_statistic;
$fg_statistic_achievement: $palettes_statistic;
/* #endregion */

/* #region 🔶this, last year */
$bg_mapData_lastYear: $palettes_mapLast;
$bg_mapData_thisYear: $palettes_mapThis;
$bg_salesData_lastYear: $palettes_salesLast;
$bg_salesData_thisYear: $palettes_salesThis;
/* #endregion */

/* #region 🔶pie */
$bg_nivoPie_01: $palettes_nivoPie01;
$bg_nivoPie_02: $palettes_nivoPie02;
$bg_nivoPie_03: $palettes_nivoPie03;
$bg_nivoPie_04: $palettes_nivoPie04;
$bg_nivoPie_05: $palettes_nivoPie05;
$bg_nivoPie_06: $palettes_nivoPie06;
$bg_nivoPie_07: $palettes_nivoPie07;
$bg_nivoPie_08: $palettes_nivoPie08;
$bg_nivoPie_09: $palettes_nivoPie09;
$bg_nivoPie_10: $palettes_nivoPie10;
$bg_nivoPie_11: $palettes_nivoPie11;
$bg_nivoPie_12: $palettes_nivoPie12;
$bg_nivoPie_13: $palettes_nivoPie13;
$bg_nivoPie_14: $palettes_nivoPie14;
$bg_nivoPie_15: $palettes_nivoPie15;

$bg_pie_01: $palettes_Pie01;
$bg_pie_02: $palettes_pie02;
$bg_pie_03: $palettes_pie03;
$bg_pie_04: $palettes_pie04;
$bg_pie_05: $palettes_pie05;
$bg_pie_06: $palettes_pie06;
$bg_pie_07: $palettes_pie07;
$bg_pie_08: $palettes_pie08;
$bg_pie_09: $palettes_pie09;
/* #endregion */

/* #region 🔶bar */
$bg_bar_01: $palettes_bar01;
$bg_bar_02: $palettes_bar02;
$bg_bar_03: $palettes_bar03;
$bg_bar_04: $palettes_bar04;
$bg_bar_05: $palettes_bar05;
/* #endregion */

/* #region 🔶grid */
$bg_gridCell_border: $palettes_gridHeader;
$bg_gridHeader_default: $palettes_gridHeader;
$bg_gridHeader_border: $palettes_gridHeader;
$bg_gridRowHeader_default: $palettes_gridHeader;
$bg_gridRowHeader_border: $palettes_gridCellBorder;
$bg_evenRow_default: $palettes_evenRow;
$bg_grid_selectedHeader: $palettes_selectedHeader;
$bg_danger_default: $palettes_mapThis;
$bg_gridHeader_area: $palettes_gridHeader;
$bg_gridLayer_selection: $palettes_gridLayer;
$bg_gridRow_checked: $palettes_gridRow;
$bg_comboBoxContent_editor: $palettes_comboBoxContent;
$bg_comboBoxSelector_border: $palettes_comboBoxSelector;
$fg_comboBoxSelector_default: $palettes_gridFontColor;
$bg_comboBox_default: $palettes_comboBox;
$bg_comboBox_border: $palettes_hoverBtn;
$bg_gridRow_odd: $palettes_gridRowOdd;
$bg_gridRow_even: $palettes_gridRowEven;

$bg_gridSelectRow_odd: $palettes_selectRowOdd;
$bg_gridSelectRow_even: $palettes_selectRowEven;

$bg_gridRow_checkbox: $palettes_gridCheckbox;
$bg_twoGridCol_default: $palettes_white;
$bg_gridCell_border: $palettes_gridCellBorder;
/* #endregion */

/* #region 🔶scroll */
$bg_scrollbar_bar: $palettes_scrollbar;
$bg_scrollbar_area: $palettes_scrollbar_area;
/* #endregion */

/* #region 🔶numberInput */
$bg_numberInput_border: $palettes_comboBoxSelector;
$bg_numberInputFocus_border: $palettes_blue;
/* #endregion */

// ❗ 배경색이 안보여서 임의로 지정함 (나중에 수정할것)
// $bg_background: #eeeff7;
// $bg_background: #f5f6fc;
// $bg_background: #F0F0F0;
$bg_background: #ececec;
