// FONT
$fontFamily_default: 'Noto Sans CJK KR';

// COMMON
$fontSize_default: 12px;
$fontSize_default_sm: 11px;
$fontSize_default_md: 13px;
$fontSize_default_lg: 16px;

// FOOTER
$fontSize_footer_sm: 12px;
$fontSize_footer_md: 14px;
$fontSize_footer_lg: 16px;
$fontSize_footer: $fontSize_footer_sm;

// HEADER
$fontSize_header_sm: 12px;
$fontSize_header_md: 14px;
$fontSize_header_lg: 16px;
$fontSize_header: $fontSize_header_sm;

// LOGIN LABEL
$fontSize_loginLabel_sm: 13px;
$fontSize_loginLabel_md: 14px;
$fontSize_loginLabel_lg: 15px;
$fontSize_loginLabel: $fontSize_loginLabel_md;

// LOGIN FOOTER
$fontSize_loginFooter_sm: 12px;
$fontSize_loginFooter_md: 14px;
$fontSize_loginFooter_lg: 16px;
$fontSize_loginFooter: $fontSize_loginFooter_sm;

// BUTTON
$fontSize_btn_sm: 10px;
$fontSize_btn_md: 11px;
$fontSize_btn_lg: 12px;
$fontSize_btn: $fontSize_btn_md;

// BUTTON Fill
$fontSize_btnFill_sm: 11px;
$fontSize_btnFill_md: 13px;
$fontSize_btnFill_lg: 14px;
$fontSize_btnFill: $fontSize_btnFill_sm;

// COMBOBOX
$fontSize_cbo_sm: 11px;
$fontSize_cbo_md: 12px;
$fontSize_cbo_lg: 13px;
$fontSize_cbo: $fontSize_cbo_sm;

// DATEPICKER
$fontSize_datepicker_sm: 10px;
$fontSize_datepicker_md: 11px;
$fontSize_datepicker_lg: 12px;
$fontSize_datepicker: $fontSize_datepicker_sm;

// LABEL
$fontSize_label_sm: 12px;
$fontSize_label_md: 13px;
$fontSize_label_lg: 14px;
$fontSize_label: $fontSize_label_sm;

// MENU TITLE
$fontSize_levelTitle_sm: 18px;
$fontSize_levelTitle_md: 20px;
$fontSize_levelTitle_lg: 22px;
$fontSize_levelTitle: $fontSize_levelTitle_sm;

// MENU 1LEVEL
$fontSize_level1Menu_sm: 12px;
$fontSize_level1Menu_md: 13px;
$fontSize_level1Menu_lg: 14px;
$fontSize_level1Menu: $fontSize_level1Menu_sm;

// MENU 2LEVEL
$fontSize_level2Menu_sm: 14px;
$fontSize_level2Menu_md: 15px;
$fontSize_level2Menu_lg: 16px;
$fontSize_level2Menu: $fontSize_level2Menu_md;

// MENU DROPDOWN
$fontSize_dropdownMenu_sm: 12px;
$fontSize_dropdownMenu_md: 13px;
$fontSize_dropdownMenu_lg: 14px;
$fontSize_dropdownMenu: $fontSize_dropdownMenu_sm;

// TAB
$fontSize_tab_sm: 12px;
$fontSize_tab_md: 13px;
$fontSize_tab_lg: 14px;
$fontSize_tab: $fontSize_tab_sm;


:export{
  fontFamily_default: $fontFamily_default;

  fontSize_default: $fontSize_default;
  fontSize_default_sm: $fontSize_default_sm;
  fontSize_default_md: $fontSize_default_md;
  fontSize_default_lg: $fontSize_default_lg;

  fontSize_footer_sm: $fontSize_footer_sm;
  fontSize_footer_md: $fontSize_footer_md;
  fontSize_footer_lg: $fontSize_footer_lg;
  fontSize_footer: $fontSize_footer;

  fontSize_header_sm: $fontSize_header_sm;
  fontSize_header_md: $fontSize_header_md;
  fontSize_header_lg: $fontSize_header_lg;
  fontSize_header: $fontSize_header;

  fontSize_loginLabel_sm: $fontSize_loginLabel_sm;
  fontSize_loginLabel_md: $fontSize_loginLabel_md;
  fontSize_loginLabel_lg: $fontSize_loginLabel_lg;
  fontSize_loginLabel: $fontSize_loginLabel;

  fontSize_loginFooter_sm: $fontSize_loginFooter_sm;
  fontSize_loginFooter_md: $fontSize_loginFooter_md;
  fontSize_loginFooter_lg: $fontSize_loginFooter_lg;
  fontSize_loginFooter: $fontSize_loginFooter;

  fontSize_btn_sm: $fontSize_btn_sm;
  fontSize_btn_md: $fontSize_btn_md;
  fontSize_btn_lg: $fontSize_btn_lg;
  fontSize_btn: $fontSize_btn;

  fontSize_btnFill_sm: $fontSize_btnFill_sm;
  fontSize_btnFill_md: $fontSize_btnFill_md;
  fontSize_btnFill_lg: $fontSize_btnFill_lg;
  fontSize_btnFill: $fontSize_btnFill;

  fontSize_cbo_sm: $fontSize_cbo_sm;
  fontSize_cbo_md: $fontSize_cbo_md;
  fontSize_cbo_lg: $fontSize_cbo_lg;
  fontSize_cbo: $fontSize_cbo;

  fontSize_datepicker_sm: $fontSize_datepicker_sm;
  fontSize_datepicker_md: $fontSize_datepicker_md;
  fontSize_datepicker_lg: $fontSize_datepicker_lg;
  fontSize_datepicker: $fontSize_datepicker;

  fontSize_label_sm: $fontSize_label_sm;
  fontSize_label_md: $fontSize_label_md;
  fontSize_label_lg: $fontSize_label_lg;
  fontSize_label: $fontSize_label;

  fontSize_levelTitle_sm: $fontSize_levelTitle_sm;
  fontSize_levelTitle_md: $fontSize_levelTitle_md;
  fontSize_levelTitle_lg: $fontSize_levelTitle_lg;
  fontSize_levelTitle: $fontSize_levelTitle;

  fontSize_level1Menu_sm: $fontSize_level1Menu_sm;
  fontSize_level1Menu_md: $fontSize_level1Menu_md;
  fontSize_level1Menu_lg: $fontSize_level1Menu_lg;
  fontSize_level1Menu: $fontSize_level1Menu;

  fontSize_level2Menu_sm: $fontSize_level2Menu_sm;
  fontSize_level2Menu_md: $fontSize_level2Menu_md;
  fontSize_level2Menu_lg: $fontSize_level2Menu_lg;
  fontSize_level2Menu: $fontSize_level2Menu;

  fontSize_dropdownMenu_sm: $fontSize_dropdownMenu_sm;
  fontSize_dropdownMenu_md: $fontSize_dropdownMenu_md;
  fontSize_dropdownMenu_lg: $fontSize_dropdownMenu_lg;
  fontSize_dropdownMenu: $fontSize_dropdownMenu;

  fontSize_tab_sm: $fontSize_tab_sm;
  fontSize_tab_md: $fontSize_tab_md;
  fontSize_tab_lg: $fontSize_tab_lg;
  fontSize_tab: $fontSize_tab;
}    

