@import 'font.style';

:export {
  fontFamily_default: $fontFamily_default;

  fontSize_default: $fontSize_default;
  fontSize_default_sm: $fontSize_default_sm;
  fontSize_default_md: $fontSize_default_md;
  fontSize_default_lg: $fontSize_default_lg;

  fontSize_footer_sm: $fontSize_footer_sm;
  fontSize_footer_md: $fontSize_footer_md;
  fontSize_footer_lg: $fontSize_footer_lg;
  fontSize_footer: $fontSize_footer;

  fontSize_header_sm: $fontSize_header_sm;
  fontSize_header_md: $fontSize_header_md;
  fontSize_header_lg: $fontSize_header_lg;
  fontSize_header: $fontSize_header;

  fontSize_loginLabel_sm: $fontSize_loginLabel_sm;
  fontSize_loginLabel_md: $fontSize_loginLabel_md;
  fontSize_loginLabel_lg: $fontSize_loginLabel_lg;
  fontSize_loginLabel: $fontSize_loginLabel;

  fontSize_loginFooter_sm: $fontSize_loginFooter_sm;
  fontSize_loginFooter_md: $fontSize_loginFooter_md;
  fontSize_loginFooter_lg: $fontSize_loginFooter_lg;
  fontSize_loginFooter: $fontSize_loginFooter;

  fontSize_btn_sm: $fontSize_btn_sm;
  fontSize_btn_md: $fontSize_btn_md;
  fontSize_btn_lg: $fontSize_btn_lg;
  fontSize_btn: $fontSize_btn;

  fontSize_btnFill_sm: $fontSize_btnFill_sm;
  fontSize_btnFill_md: $fontSize_btnFill_md;
  fontSize_btnFill_lg: $fontSize_btnFill_lg;
  fontSize_btnFill: $fontSize_btnFill;

  fontSize_cbo_sm: $fontSize_cbo_sm;
  fontSize_cbo_md: $fontSize_cbo_md;
  fontSize_cbo_lg: $fontSize_cbo_lg;
  fontSize_cbo: $fontSize_cbo;

  fontSize_datePicker_sm: $fontSize_datePicker_sm;
  fontSize_datePicker_md: $fontSize_datePicker_md;
  fontSize_datePicker_lg: $fontSize_datePicker_lg;
  fontSize_datePicker: $fontSize_datePicker;

  fontSize_label_sm: $fontSize_label_sm;
  fontSize_label_md: $fontSize_label_md;
  fontSize_label_lg: $fontSize_label_lg;
  fontSize_label: $fontSize_label;

  fontSize_levelTitle_sm: $fontSize_levelTitle_sm;
  fontSize_levelTitle_md: $fontSize_levelTitle_md;
  fontSize_levelTitle_lg: $fontSize_levelTitle_lg;
  fontSize_levelTitle: $fontSize_levelTitle;

  fontSize_level1Menu_sm: $fontSize_level1Menu_sm;
  fontSize_level1Menu_md: $fontSize_level1Menu_md;
  fontSize_level1Menu_lg: $fontSize_level1Menu_lg;
  fontSize_level1Menu: $fontSize_level1Menu;

  fontSize_level2Menu_sm: $fontSize_level2Menu_sm;
  fontSize_level2Menu_md: $fontSize_level2Menu_md;
  fontSize_level2Menu_lg: $fontSize_level2Menu_lg;
  fontSize_level2Menu: $fontSize_level2Menu;

  fontSize_dropdownMenu_sm: $fontSize_dropdownMenu_sm;
  fontSize_dropdownMenu_md: $fontSize_dropdownMenu_md;
  fontSize_dropdownMenu_lg: $fontSize_dropdownMenu_lg;
  fontSize_dropdownMenu: $fontSize_dropdownMenu;

  fontSize_tab_sm: $fontSize_tab_sm;
  fontSize_tab_md: $fontSize_tab_md;
  fontSize_tab_lg: $fontSize_tab_lg;
  fontSize_tab: $fontSize_tab;
}
