@import 'size.style';

:export {
  letterSpacing_common: $letterSpacing_common;
  borderRadius_common: $borderRadius_common;

  width_common: $width_common;

  height_dashboardCard_default: $height_dashboardCard_default;

  height_header_default: $height_header_default;
  height_footer_default: $height_footer_default;

  width_level1Menu_selected: $width_level1Menu_selected;
  width_level1Menu_default: $width_level1Menu_default;
  width_level2Menu_default: $width_level2Menu_default;

  width_button_sm: $width_button_sm;
  width_button_md: $width_button_md;
  width_button_lg: $width_button_lg;
  width_button_xlg: $width_button_xlg;
  height_button_default: $height_button_default;
  height_button_lg: $height_button_lg;
  borderRadius_button_default: $borderRadius_button_default;
  letterSpacing_button_default: $letterSpacing_button_default;

  width_submitButton_default: $width_submitButton_default;
  height_submitButton_default: $height_submitButton_default;

  width_checkbox_default: $width_checkbox_default;
  width_checkbox_sm: $width_checkbox_sm;
  height_checkbox_sm: $height_checkbox_sm;
  width_checkbox_md: $width_checkbox_md;
  height_checkbox_md: $height_checkbox_md;
  width_checkbox_lg: $width_checkbox_lg;
  height_checkbox_lg: $height_checkbox_lg;
  marginTop_checkbox_default: $marginTop_checkbox_default;

  width_radio_sm: $width_radio_sm;
  height_radio_sm: $height_radio_sm;
  width_radio_md: $width_radio_md;
  height_radio_md: $height_radio_md;
  width_radio_lg: $width_radio_lg;
  height_radio_lg: $height_radio_lg;

  width_comboBox_md: $width_comboBox_md;
  width_comboBox_lg: $width_comboBox_lg;
  width_comboBox_xl: $width_comboBox_xl;
  height_comboBox_default: $height_comboBox_default;

  width_container_default: $width_container_default;
  width_container_md: $width_container_md;
  borderRadius_container_default: $borderRadius_container_default;

  width_graph_default: $width_graph_default;
  width_graphNotice_md: $width_graphNotice_md;

  width_datePicker_md: $width_datePicker_md;
  width_datePicker_sm: $width_datePicker_sm;
  width_datePicker_lg: $width_datePicker_lg;
  height_datePicker_default: $height_datePicker_default;

  width_input_lg: $width_input_lg;
  width_input_md: $width_input_md;
  width_input_sm: $width_input_sm;
  height_input_default: $height_input_default;
  height_input_lg: $height_input_lg;

  width_inputPw_md: $width_inputPw_md;
  width_inputPw_sm: $width_inputPw_sm;
  width_inputPw_lg: $width_inputPw_lg;
  height_inputPw_default: $height_inputPw_default;

  width_inputNumber_md: $width_inputNumber_md;
  width_inputNumber_sm: $width_inputNumber_sm;
  width_inputNumber_lg: $width_inputNumber_lg;
  height_inputNumber_default: $height_inputNumber_default;

  width_grid_default: $width_grid_default;

  width_gridH2_default: $width_gridH2_default;
  height_graph_default: $height_graph_default;
  height_axisY_default: $height_axisY_default;
  height_graphTitle_default: $height_graphTitle_default;

  width_colorBox_md: $width_colorBox_md;
  height_colorBox_md: $height_colorBox_md;

  marginRight_colorBox_default: $marginRight_colorBox_default;

  width_state_default: $width_state_default;
  width_card_default: $width_card_default;

  width_girdCard1_md: $width_girdCard1_md;
  height_girdCard1_md: $height_girdCard1_md;
  width_girdCard2_md: $width_girdCard2_md;
  height_girdCard2_md: $height_girdCard2_md;

  width_downtime_md: $width_downtime_md;
  height_downtime_md: $height_downtime_md;
  width_downtimeName_md: $width_downtimeName_md;
  height_downtimeName_md: $height_downtimeName_md;

  width_card_md: $width_card_md;
  height_card_md: $height_card_md;

  width_tag_md: $width_tag_md;
  height_tag_md: $height_tag_md;

  width_cardGrid_md: $width_cardGrid_md;

  width_gridCardOne_md: $width_gridCardOne_md;
  width_gridCardTwo_md: $width_gridCardTwo_md;

  height_gridCardTwo_md: $height_gridCardTwo_md;

  right_button_default: $right_button_default;
  left_button_default: $left_button_default;
  height_popupInput_default: $height_popupInput_default;
  width_popupImg_max: $width_popupImg_max;
  width_popup_min: $width_popup_min;
  width_gridFilter_default: $width_gridFilter_default;

  width_scrollbar_nav: $width_scrollbar_nav;
  height_scrollbar_nav: $height_scrollbar_nav;
  width_scrollbar_page: $width_scrollbar_page;
  borderRadius_track: $borderRadius_track;

  width_modalButton_close: $width_modalButton_close;
  height_modalButton_close: $height_modalButton_close;
}
